.card-v, .card-n{
    width: calc(26% - 10px);
    height: 120px;
    background-color: gainsboro;
    margin: 5px;
    border-bottom: 2px solid #222;
    border-left: 1px solid #222;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 14px;
    padding-top:6px;
    padding-left:6px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    border-radius: 5px;
}

.card-v{
    background-color: #222;
    color: gainsboro;
    border-bottom: 2px solid gainsboro;
    border-left: 1px solid gainsboro;
}

.card-v:hover, .card-n:hover{
    background-color: #aaa;
    transition: 0.15s;
}

 .card-v:focus, .card-n:focus{
    outline: none !important;
} 

.card-n.selected{
    background-color: rgb(255, 175, 2);
    transition: 0.15s;
}

.card-v.selected{
    background-color: rgb(82, 7, 7);
    transition: 0.15s;
}

.deck{
    display: flex;
    flex-wrap: wrap;
    bottom: 0px;
    position: absolute;
    width: 40%;
    max-width: 375px;
    height: 300px;
}